* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: inherit; /* Gives underline the same color as the text. */
}

a:hover,
a:focus {
    text-decoration: underline;
    cursor: pointer;
}

/* general styling or something */

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    background-color: #AA0E28;
    color: white;
    font-weight: bolder;
    transition: 150ms ease;
}

.button:hover,
.button:focus {
    background-color: #7c0c1e;
    text-decoration: none;
}

.read-more {
    color: #AA0E28;
    font-weight: bolder;
}

/* chronological styling or something */

.navbar {
    background-color: rgb(40, 40, 40);
    color: white;
    padding-top: 10px;
}

.navbar img {
    height: 80px;
    display: block;
    margin: auto;
    margin-bottom: -10px;
}

.navbar nav {
    width: 100%;
    display: flex;
}

.navbar nav a {
    flex: 1;
    font-size: 0.9rem;
    padding: 10px 0px;
    text-align: center;
    color: rgb(220, 220, 220);
    border-bottom: 1px solid white;
}

#menu-checkbox {
    display: none;
}

.menu label {
    display: block;
    width: 100%;
    padding: 15px 0px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.menu label:hover {
    text-decoration: underline;
    pointer-events: all;
}

.menu-links {
    display: none;
    border-top: 1px solid #AA0E28;
    border-bottom: 1px solid #AA0E28;
}

.menu-links a {
    display: block;
    padding: 15px 0px;
    padding-left: 20px;
    color: inherit;
}

#menu-checkbox:checked ~ .menu-links {
    display: block;
}

.page-section h1 {
    text-align: center;
    padding: 0px 10px;
    padding-top:10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#corona {
    padding-top: 20px;
    padding-bottom: 30px;
    background-image: url("media/corona-small.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

#corona h1 {
    background-color: rgb(40, 40, 40);
    margin-bottom: 0px;
}

#corona p {
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    font-weight: bolder;
}

#corona a {
    margin-left: 15px;
}

.box:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.box {
    width: 100%;
    padding: 20px;
}

.box h2 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.box li {
    margin-left: 20px;
    color: #AA0E28;
}

.box a {
    color: inherit;
    display: block;
    padding: 5px 0px;
    font-weight: bolder;
}

#admissions p,
#academics p {
    padding: 0px 10px;
}

#news h2 {
    padding: 0px 10px;
    margin: 10px 0px;
    font-weight: lighter;
}

#news p {
    padding: 0px 25px;
}

.news-box {
    background-color: rgb(240, 240, 240);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#news .button {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}

#announcements {
    padding: 0px 10px;
}

.announcement {
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(240, 240, 240);
    margin: 25px 0px;
}

.announcement img {
    width: 100%;
}

.announcement h3 {
    padding: 10px;
    padding-bottom: 2px;
}

.announcement p {
    padding: 10px;
    padding-top: 0px;
}

.story {
    display: block;
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    border-bottom: 2px solid #AA0E28;
    border-top: 2px solid #AA0E28;
}

.story p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    transition: 200ms ease; /* For the media queries */
}

.story:hover > p,
.story:focus > p {
    text-decoration: underline;
}

#interview1 {
    background-image: url("https://www.uattech.com/hubfs/Dominique.jpeg");
}

#challenge {
    background-image: url("https://www.uattech.com/hubfs/PSAHeaderImage.png");
}

#playing {
    background-image: url("https://www.uattech.com/hubfs/ErinAliBlog.png");
}

#interview2 {
    background-image: url("https://www.uattech.com/hubfs/An%20Interview%20with%20Stefani%20Johnson,.png");
}

#contest {
    background-image: url("https://www.uattech.com/hubfs/App-It-Up%20Contest.png");
}

#offense {
    background-image: url("https://www.uattech.com/hubfs/CCDC%20Puts%20UAT%20Students%20on%20the%20Offense%E2%80%94and%20the%20Defense.png");
}

footer {
    height: 250px;
    padding-top: 50px;
    clear: both;
}

.footer-box {
    color: white;
    background-color: #AA0E28;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 620px) {
    #menu-checkbox {
        display: block;
        width: 100%;
        height: 58px;
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    #menu-checkbox:focus ~ label,
    #menu-checkbox:hover ~ label {
        text-decoration: underline;
    }

    #corona {
        background-image: url("media/corona-medium.jpg");
    }

    #corona p {
        text-align: center;
    }

    #admissions,
    #academics {
        text-align: center;
    }

    .box-wrapper {
        width: 600px;
        height: 555px; /* Fixes float problem where admissions would flow next to degrees */
        display: block;
        margin: auto;
    }
    
    .box {
        width: 300px;
        height: 185px;
        float: left;
    }

    .box:nth-child(odd) {
        background-color: white;
    }

    .box:nth-child(1),
    .box:nth-child(4),
    .box:nth-child(5) {
        background-color: rgb(240, 240, 240);
    }

    #news {
        text-align: center;
    }

    .news-box {
        width: 600px;
        margin: 20px auto;
    }

    #news .button {
        width: 600px;
    }

    #announcements h2 {
        text-align: center;
    }

    .announcement {
        width: 580px;
        margin: 25px auto;
    }

    .story-wrapper {
        padding: 0px 50px;
    }

    .story {
        width: 50%;
        height: 300px;
        float: left;
        font-size: 1.2rem;
        border-right: 2px solid #AA0E28;
        border-left: 2px solid #AA0E28;
    }

    .story:hover > p,
    .story:focus > p {
        background-color: #AA0E28;
        color: white;
    }
}

@media only screen and (min-width: 1340px) {
    .story-wrapper {
        padding: 0px 100px;
    }
    
    .story {
        height: 400px;
        font-size: 1.4rem;
    }
}